@import "tailwindcss";


 /* global variables */

  :root {
    /* Light theme variables */
    --color10: hsl(204, 80%, 10%);
    --color30: hsl(204, 80%, 30%);
    --color90: hsl(204, 100%, 96%);
    --color100: hsl(204, 80%, 100%);
    --color120: hsl(0, 0%, 20%);
    --accent: hsl(336, 59%, 35%);
    --icon-color: var(--color10); /* Light mode icon color */
    --background: var(--color90);
    --ff: font-family: 'Onest', sans-serif;
    --text: var(--color10);
    --card-bg: var(--color100);
    --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --p: 1rem/1.5em var(--ff);
    --h1: 600 3rem/1.2em var(--ff2);
    --h2: 600 2rem/1.2em var(--ff2);
    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 80px;
    --spacing7: 160px;
  }

  /* onest-latin-wght-normal */
@font-face {
  font-family: 'Onest Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/onest/files/onest-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

[data-theme="dark"] {
    --color10: hsl(300, 100%, 98%);
    --color30: hsl(208, 57%, 70%);
    --color90: hsl(208, 57%, 5%);
    --color100: hsl(208, 57%, 100%);
    --color120: hsl(231, 75%, 25%);
    --accent: hsl(286, 100%, 78%);
    --icon-color: var(--color10); /* Light mode icon color */
    --background: var(--color90);
    --text: var(--color10);
    --card-bg: var(--color100);
    --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

html{
    scrollbar-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  text-wrap: balance;
  font: var(--p);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@theme {
  --tracking-tightest: -0.08em;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-1: 0em;
  --tracking-2: 0.025em;
  --tracking-3: 0.05em;
  --tracking-4: 0.1em;
}




/* Utility Classes */

  .padding1 {
    padding: var(--spacing1) 0;
  }
  .padding2 {
    padding: var(--spacing2) 0;
  }
  .padding3 {
    padding: var(--spacing3) 0;
  }
  .padding4 {
    padding: var(--spacing4) 0;
  }
  .padding5 {
    padding: var(--spacing5) 0;
  }
  .padding6 {
    padding: var(--spacing6) 0;
  }
  .padding7 {
    padding: var(--spacing7) 0;
  }
  .margin1 {
    margin: var(--spacing1) auto;
  }
  .margin2 {
    margin: var(--spacing2) auto;
  }
  .margin3 {
    margin: var(--spacing3) auto;
  }
  .margin4 {
    margin: var(--spacing4) auto;
  }
  .margin5 {
    margin: var(--spacing5) auto;
  }
  .margin6 {
    margin: var(--spacing6) auto;
  }
  .margin7 {
    margin: var(--spacing7) auto;
  }