--- 

--- 

<footer class="relative w-screen h-[200px] pb-32">
    <div
    class="absolute inset-0 bg-cover bg-bottom bg-[url('/images/footer.webp')]
    [mask-image:linear-gradient(transparent,black_50%)]">
    </div>
        <div
        class="relative h-full flex flex-col justify-center items-center text-[#fffff]"
        >

            <div class="footer-content">
            <p>© 2025 Andres Soler | Created in Bogota, Colombia
             Built with love using <a class ="" href="https://astro.build/" target="_blank">Astro.</a>
                Look at some of my projects on 
                <a href="https://github.com/nombiemugi" target="_blank">GitHub.</a></p>
            </div>
        </div>
    </div>
</footer>