---
import '../styles/global.css';
import Home from '../components/Home.astro'
import Navigation from '../components/Navigation.astro'
import ThemeToggle from '../components/ThemeToggle.astro'

---

<header class="box-shadow">
    <nav class="flex items-center justify-between w-full">
        <Home />
        <Navigation />
        <ThemeToggle />
    </nav>
</header>











