---
import '../styles/global.css';
import Home from '../components/Home.astro';
import Navigation from '../components/Navigation.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import Hamburger from '../assets/svg/hamburguer.svg';
import Quit from '../assets/svg/quit.svg';
import Socials from '../components/Socials.astro';
import Switch from './Switch.astro';
---

<header class="mt-2 gap-10 ">
  <nav class="flex items-center justify-around gap-0.5 ">
    <div class="menu-header">
      <Home />
    </div>

    <Navigation />

    <div class="flex items-center gap-5">
      <div class="hidden sm:block">
        <Socials />
      </div>

      <Switch />

      <!-- Botón hamburguesa -->
      <button id="hamburgerButton" class="sm:hidden" aria-label="Open menu">
        <Hamburger />
      </button>
    </div>
  </nav>


  <!-- SIDEBAR MOBILE -->
  <div class="sidebar hidden flex-col">
    <hr class="border-t-2 border-[var(--accent)] mt-2"/>
      
    <ul class="flex flex-col justify-start pl-5 gap-4 font-medium tracking-[var(--tracking-tightest)] w-auto text-white">
      <li class="flex items-center justify-between">
        <a href="/" class="hover:text-[var(--accent)]">Home</a>
        <button
          id="quitButton"
          aria-label="Close menu"
          class="transform translate-x-0 translate-y-0 -ml-8"
        >
          <Quit />
        </button>
      </li>

      <li>
        <a href="/projects" class="hover:text-[var(--accent)]">Projects</a>
      </li>

      <li>
        <a href="/about" class="hover:text-[var(--accent)]">About</a>
      </li>
        <br>
          <br>
    </ul>
  
    <ul class="flex flex-col justify-start pl-5 gap-4 font-medium tracking-[var(--tracking-tightest)] w-auto">
      <li>
        <h1 class="transform translate-x-0 translate-y-3 color text-amber-50">Socials</h1>
        <Socials />
      </li>
    </ul>
    <hr class="border-t-2 border-[var(--accent)] mt-2" />
  </div>
</header>
<script>
    document.addEventListener('DOMContentLoaded', () => {
      const hamburgerButton = document.getElementById('hamburgerButton');
      const sidebar = document.querySelector('.sidebar');
      const quitButton = document.getElementById('quitButton');

      if (!hamburgerButton || !sidebar || !quitButton) return;

      hamburgerButton.addEventListener('click', () => {
        sidebar.classList.remove('hidden');
        sidebar.classList.add('flex');
      });

      quitButton.addEventListener('click', () => {
        sidebar.classList.add('hidden');
        sidebar.classList.remove('flex');
      });
    });

</script>

<style>
.menu-header {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1.5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;

  /* Fondo tipo glassmorphism */
  background-color: rgba(61, 61, 61, 0.7);
  backdrop-filter: blur(6px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
</style>






