---
import '../styles/global.css';
import Home from '../components/Home.astro'
import Navigation from '../components/Navigation.astro'
import ThemeToggle from '../components/ThemeToggle.astro'

---

<header class="box-shadow mt-[30px]">
    <nav class="flex items-center justify-around">
      <Home />
      <Navigation />
      <ThemeToggle />
    </nav>
</header>










