---
import '../styles/global.css';
import Terminal from "../assets/svg/terminal.svg";
---

<div class="flex items-center tracking-(--tracking-tightest)">
    <a href="/" class="flex items-center ">
      <Terminal class="w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20"/>
      <span class="text-[var(--accent)] text-[16px] md:text-3xl lg:text-[48px] font-bold ">Andres Soler</span>
    </a>
  </div>