---
import '../styles/global.css';
import Terminal from "../assets/svg/terminal.svg";
import Translate from "../assets/svg/translate.svg";
import Book from "../assets/svg/book.svg";
import Person from "../assets/svg/person.svg";

---

<section class="flex justify-center">
    <div class="w-screen h-[300px] max-w-[calc(100vw_-_75px)] flex items-center justify-center rounded-lg border-2 border-[var(--color120)] drop-shadow-sm ">
        <div class="flex justify-around w-full"> 
            <div class="w-1/5">
                <Terminal class="w-[55px] h-[55px]" fill="var(--accent)" />
                <span class="text-[20px] md:text-[30px] lg:text-[40px] leading-[1] font-bold">Full Stack</span> <br>
                <span class="text-[10px] md:text-[12px] lg:text-[16px] leading-[1] font-medium">I am proficient in both front-end and back-end technologies.</span>
            </div>
            <div class="w-1/5">
                <Book class="w-[55px] h-[55px]" fill="var(--accent)"  />
                <span class="text-[20px] md:text-[30px] lg:text-[40px] leading-[1] font-bold">Self-taught</span> <br>
                <span class="text-[10px] md:text-[12px] lg:text-[16px] leading-[1] font-medium">During college, I taught myself programming. I find satisfaction in designing well-structured information.</span>
            </div>
            <div class="w-1/5">
                <Translate class="w-[55px] h-[55px]" fill="var(--accent)" />
                <span class="text-[20px] md:text-[30px] lg:text-[40px] leading-[1] font-bold">Language <br> proficiency</span> <br>
                <span class="text-[10px] md:text-[12px] lg:text-[16px] leading-[1] font-medium">I am currently fluent in Spanish, English, and German, and I am eager to learn more languages.</span>
            </div>
            <div class="w-1/5">
                <Person class="w-[55px] h-[55px]" fill="var(--accent)"  />
                <span class="text-[20px] md:text-[30px] lg:text-[40px] leading-[1] font-bold">Soft-skills</span> <br>
                <span class="text-[10px] md:text-[12px] lg:text-[16px] leading-[1] font-medium">I bring empathy and a team-focused approach, and I thrive in new and challenging environments.</span>
            </div>
        </div>
    </div>
</section>