---
import "../styles/global.css";
---


  <ul class=" hidden sm:block m-0 gap-[10px] flex items-center text-[16px] md:text-3xl lg:text-[48px]font-medium tracking-(--tracking-tightest)">
    <a href="/" class="hover:text-[var(--accent)] ">Home</a>
    <a href="/projects" class="hover:text-[var(--accent)]">Projects</a>
    <a href="/about" class="hover:text-[var(--accent)]">About</a>
  </ul>


