---
import "../styles/global.css";
---


  <ul class=" hidden sm:block m-0 gap-[10px] flex items-center text-[12 px] md:text-[16px] lg:text-[24px] font-medium tracking-(--tracking-tightest)">
    <li>
      <a href="/" class="hover:text-[var(--accent)] pr-4">Home</a>
      <a href="/projects" class="hover:text-[var(--accent)] pr-4">Projects</a>
      <a href="/about" class="hover:text-[var(--accent)] pr-4">About</a>
      <a href="/contact" class="hover:text-[var(--accent)] pr-4">Contact</a>
    </li>
  </ul>


