---
import "../styles/global.css";
---


  <ul class=" hidden sm:block m-0 gap-[10px] flex items-center text-[16px] md:text-2xl lg:text-[38px] font-medium tracking-(--tracking-tightest)">
    <a href="/" class="hover:text-[var(--accent)] pr-4">Home</a>
    <a href="/projects" class="hover:text-[var(--accent)] pr-4">Projects</a>
    <a href="/about" class="hover:text-[var(--accent)] pr-4">About</a>
  </ul>


