---
import "../styles/global.css";
---

<div class="text-[36px] font-medium tracking-(--tracking-tightest)">
  <ul class="gap-[20px] flex items-center">
    <a href="/" class="hover:text-[var(--accent)] ">Home</a>
    <a href="/projects" class="hover:text-[var(--accent)]">Projects</a>
    <a href="/about" class="hover:text-[var(--accent)]">About</a>
  </ul>
</div>