---
import "../styles/global.css";
---

<div class="text-[30px]">
  <ul>
    <a href="/" class="hover:text-[var(--accent)]">Home</a>
    <a href="/about" class="hover:text-[var(--accent)]">About</a>
    <a href="/projects" class="hover:text-[var(--accent)]">Projects</a>
  </ul>
</div>