---
import '../styles/global.css';
import Slash from "../assets/svg/slash.svg";
import Palette from "../assets/svg/palette.svg";
import Translate from "../assets/svg/translate.svg";


---


<div class="block md:hidden pt-1 pb-2 px-4 text-center">
    <div class="w-1/2 mx-auto max-w-[200px] rounded-full overflow-hidden">
        <img src="../Me-squared1.webp" alt="Andres Soler (Móvil)" class="w-full h-full object-cover">
    </div>
</div>


<section class="md:min-h-screen flex items-center justify-center text-[var(--text)] mb-2">
    <div class="flex flex-col xl:flex-row items-center justify-center gap-2 px-4 ">
        <div class="text-center xl:text-left">
            <h1 class="text-[30px] md:text-[50px] lg:text-[70px] xl:text-[96px] leading-[1] font-bold tracking-(--tracking-tightest)">
                Hello, my<span class="hidden md:inline"><br></span>
                name is<span class="hidden md:inline"><br></span>
                Andres Soler
              </h1>
            <p class="text-[15px] lg:text-[30px] xl:text-[40px] mb-6-xl mb-0 ">Creative Web Developer<br>
                based in Bogotá, Colombia.</p>
                <div class="hidden xl:flex flex-col lg:flex-row gap-1 text-[18px] lg:text-[36px] font-bold">
                    <span class="bg-[var(--accent)] text-[var(--color100)] px-8 py-3 rounded-full min-w-[268px] min-h-[77px] flex items-center justify-center gap-4"><Slash />Developer</span>
                    <span class="bg-[var(--accent)] text-[var(--color100)] px-8 py-3 rounded-full min-w-[268px] min-h-[77px] flex items-center justify-center gap-4"><Palette />Designer</span>
                    <span class="bg-[var(--accent)] text-[var(--color100)] px-8 py-3 rounded-full min-w-[268px] min-h-[77px] flex items-center justify-center gap-4"><Translate />Polyglot</span>
                </div>
            <div class="flex flex-row sm:flex-row justify-center xl:justify-start gap-4 mt-2">
            <a
            href="/HvTmpEnglish.pdf"
            download="HvTmpEnglish.pdf"
            class="px-8 py-3 rounded-full bg-[var(--accent)] text-white shadow hover:bg-black hover:text-white transition text-lg font-bold flex items-center justify-center"
            >
            ⬇️ Download CV
            </a>
        </div>
        </div>
        <div class="hidden md:block w-1/2 md:w-1/2 lg:w-1/3 rounded-full overflow-hidden">
            <img src="../Me-squared1.webp" alt="Andres Soler" class="w-full h-full object-cover">
        </div>
    </div>
</section>