---
import '../styles/global.css';
import Slash from "../assets/svg/slash.svg";
import Palette from "../assets/svg/palette.svg";
import Translate from "../assets/svg/translate.svg";

---


<section class="min-h-screen flex items-center justify-center  text-[var(--text)]">
    <!-- Container for Text and Image -->
    <div class="flex flex-col md:flex-row items-center justify-center gap-8 px-4">
        <!-- Text Content -->
        <div class="text-center md:text-left">
            <h1 class="text-[50px] md:text-[70px] lg:text-[96px] leading-[1] font-bold">
                Hello, my<br>
                name is<br>
                Andres Soler
              </h1>
            <p class="text-[20px] lg:text-[40px] mb-6-xl mb-6">Creative Full-Stack Web Developer<br>
                 based in Bogotá, Colombia.</p>
            <div class="flex flex-col md:flex-row gap-1 text-[18px] lg:text-[36px] font-bold">
                <span class="bg-[var(--accent)] text-[var(--color100)] px-8 py-3 rounded-full min-w-[268px] min-h-[77px] flex items-center justify-center gap-4"><Slash />Developer</span>
                <span class="bg-[var(--accent)] text-[var(--color100)] px-8 py-3 rounded-full min-w-[268px] min-h-[77px] flex items-center justify-center gap-4"><Palette />Designer</span>
                <span class="bg-[var(--accent)] text-[var(--color100)] px-8 py-3 rounded-full min-w-[268px] min-h-[77px] flex items-center justify-center gap-4"><Translate />Polyglot</span>
            </div>
        </div>

        <!-- Image -->
        <div class="w-[470px] h-[px] rounded-full overflow-hidden">
            <img src="/public/images/me-squared.webp" alt="Andres Soler" class="w-full h-full object-cover">
        </div>
    </div>
</section>