---
import '../styles/global.css';
---

<section class="justify-center">
    <div class="w-screen h-[300px] max-w-[calc(100vw_-_75px)] flex items-center justify-center not-[]:drop-shadow-sm">  
        <h1 class="text-[20px] md:text-[42px] lg:text-[64px]
         font-bold tracking-(--tracking-tightest) :md:tracking-wide">
         What I work with</h1>          
    </div>
    <div class="flex justify-center items-center">
        <h1 class="text-[24px] font-semibold tracking-tightest">Astro</h1>
    </div>

</section>