---
import Layout from '../../layouts/Layout.astro';
import '../../styles/global.css';
import '../../styles/tokens.css';
import { getCollection } from 'astro:content';
import FolderIcon from "../../assets/svg/skills/folder.svg";
import ProjectCard from "../../components/ProjectCard.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = await getCollection('projects', ({ slug }) => slug.startsWith(`${lang}/`));

const sortedProjects = [...projects].sort((a, b) => {
  const orderA = Number(a.data.order ?? 999);
  const orderB = Number(b.data.order ?? 999);
  return orderA - orderB;
});
---

<Layout
  pageTitle={t('meta.projects.title')}
  pageDescription={t('meta.defaultDescription')}
>

        <main class="mt-5 mb-5">
            <div class="mx-auto w-full max-w-6xl px-4">

                <!-- TITLE -->
                <div class="flex items-center gap-3">
                    <FolderIcon />
                    <h1 class="hover:text-[var(--accent-glow)] text-left text-[30px] md:text-[40px] lg:text-[50px] xl:text-[50px] leading-[1] font-bold tracking-tight ">
                        {t('projects.title')}
                    </h1>
                </div>

                <!-- PROJECTS GRID -->
                <section aria-label={t('projects.aria')} class="mt-10">
                    <div class="grid gap-6 md:grid-cols-3">
                        {sortedProjects.map((project) => (
                            <ProjectCard project={project} />
                        ))}
                    </div>
                </section>

            </div>
        </main>
</Layout>
